{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/generals-quarters.png"
        class="img-fluid img-thumbnail room-image"
        alt="room-image"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General Quaters</h1>
      <p>
        Your home away from home set on the majestic waters of the atlantic
        ocean. This will be a vacation you will remember Your home away from
        home set on the majestic waters of the atlantic ocean. This will be a
        vacation you will remember Your home away from home set on the majestic
        waters of the atlantic ocean. This will be a vacation you will remember
        Your home away from home set on the majestic waters of the atlantic
        ocean. This will be a vacation you will remember Your home away from
        home set on the majestic waters of the atlantic ocean. This will be a
        vacation you will remember Your home away from home set on the majestic
        waters of the atlantic ocean. This will be a vacation you will remembers
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success"
        >Check Availability</a
      >
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script>
  ShowDatesBox("1");
</script>
{{ end }}
